.navbar {
  height: 60px;

  .wrapper {
    max-width: 1350px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: transparent;
    height: 100%;

    span {
      z-index: 999;
      position:fixed;
      left: 97px;
      top: 27px;
      font-weight: bold;
      font-size: 38px;
      color: rgb(0, 0, 0);
    }

    .social {
      position: relative;
      top: 07px;
      left: 1120px;
      display: flex;
      gap: 10px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
