.navbar{
    height: 60px;
   
    .wrapper {
        max-width: 1350px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
       // background-color: #9b9b9b;
        height: 100%;

        span{
            position: relative;
            top: 20px;
            left: 90px;
            font-weight: bold;
            font-size: 38px;
            color: white;
        }

        .social{
            position: relative;
            top: 30px;
            right: 70px;
            display: flex;
            gap: 10px;

            img{
                width: 40px;
                height: 40px;
                
            }
        }
    }
}