.services{
    background: linear-gradient(180deg, rgb(4, 61, 57), rgb(41, 177, 168) );
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textContainer{
        flex: 1;
        align-self: center;
        display: flex;
        align-items: center;
        gap: 30px;
        padding-top: 100px;

        p{
            font-weight: 200;
            font-size: 22px;
            color: rgb(218, 199, 199);
            text-align: center;
        }

        hr{
            width: 500px;
            border: none;
            border-top: 0.5px solid rgb(168, 161, 161);
        }
    }
    .titleContainer{
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            display: flex;
            align-items: center;
            gap: 50px;

            img{
                width: 200px;
                height: 70px;
                border-radius: 50px;
                object-fit: cover;
            }

            h1{
                font-size: 96px;
                font-weight: 60;
            }

            button{
                width: 200px;
                height: 70px;
                font-weight: 600;
                border-radius: 50px;
                background-color: rgb(3, 76, 82);
                color: rgb(217, 232, 233);
                border: none;
                font-size: 24px;
                cursor: pointer;
            }
        }
    }

    .listContainer{
        flex: 2;
        display: flex;
        max-width: 1566px;
        margin: auto;
        padding: 20px;
        gap: 20px;
        margin-bottom: 40px;
       

        .box{
            padding: 48px;
            border: 0.5px solid rgb(60, 71, 70);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: linear-gradient(180deg, rgb(1, 83, 83), rgb(7, 143, 125), rgb(224, 236, 236));
            //gap: 20px;

            h2{
                font-size: 26px;
                font-weight: 800;
                padding-bottom: 10px;
            }
            button{
                padding: 10px;
                margin-top: 6px;
                background-color: rgb(3, 76, 82);
                color: rgb(181, 198, 199);
                border-radius: 20px;
                font-weight: 700;
                font-size: 19px;
                border: none;
                cursor: pointer;
            }
        }
    }
}